---
title: Techies Lab
---

<%= partial "layouts/langbar" %>
<!-- background image -->
<div class="image-bg">
  <div class="bg-filter"></div>
</div>

<!-- Main -->
<section class="main text-center" id="home">
  <div class="page">
    <div class="wrapper">
      <div class="container">
        <%= image_tag "logo/robot.png", alt: "Logo", class: "main-logo" %>
        <h1 class="heading"><%= t('.header.title') %><br><span id="name">Techies Lab</span></h1>
        <p id="tagline">
          <span><%= t('.header.subtitle') %></span>
        </p>
        <!-- Subscription form -->
        <form class="signup" action="//techieslab.us11.list-manage.com/subscribe/post-json?u=4e5edbd56b4da2771ce53024c&amp;id=1c0ef6f860&c=?" role="form" id="signupForm">
          <div class="input-group" style="margin: 0 auto;">
            <div class="form-group pull-left">
              <input type="email" name="EMAIL" class="form-control" placeholder="<%= t('.header.email') %>">
            </div>
            <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label"><%= t('.header.button.notification') %></span></button>
          </div>
          <div id="mce-responses" class="clear">
            <div id="mce-error-response" class="response alert alert-danger alert-dismissible" style="display:none" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span class="answer"></span>
            </div>
            <div id="mce-success-response" class="response alert alert-success alert-dismissible" style="display:none" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span class="answer"></span>
            </div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_4e5edbd56b4da2771ce53024c_1c0ef6f860" tabindex="-1" value="">
          </div>
          <div class="clear"></div>
        </form>
        <footer class="text-center">
          <div class="social">
            <a href="https://twitter.com/TechiesLab" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/TechiesLabBrussels" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
          </div>
        </footer>
      </div>
      <div class="arrow-down">
        <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.about.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="lead">
          <%= t('about.lead.intro') %> <%= t('about.lead.drop') %> <%= t('about.lead.text') %>
        </p>
        <p class="lead"><%= t('about.intro') %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag "featured/techiesLab_dad_son.png", alt: "Dad and Son Coding" %>
      </div>
      <div class="col-xs-12 col-sm-6">
      <%= image_tag "featured/techiesLab_teaching.png", alt: "Female Coach Teaching" %>
      </div>
    </div>
  </div>


</section>



<!-- Poll -->
<section id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.poll.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="lead">
          <%= t('poll.text') %>
        </p>
      </div>
    </div>
    <div class="row"><div class="col-sm-12"><div class="button"><%= link_to t('poll.button'), t('poll.link'), target: "_blank", class: "bb btn btn-theme"  %></div></div></div>

  </div>
</section>

<!-- Upcoming Workshops -->
<section id="workshops" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.upcoming.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
 <!--    <div class="row">
      <div class="col-sm-12">
        <div class="row text-center">
          <p>Our next workshop will take place January 27, 2018! Stay tuned! ;)</p>
          <div class="col-sm-9 feature-box-container">
            <div class="feature-box wow fadeInDown">
              <div style="width:100%; text-align:left;" ><iframe  src="https://www.eventbrite.com/e/atelier-parent-enfant-creez-ensemble-votre-premiere-page-web-12-tickets-36983629030?ref=eweb"
              frameborder="0" height="1000" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:100%; text-align:left;" ></div></div>
            </div>
          </div>

          <div class="col-sm-3 feature-box-container">
              <div style="width:195px; text-align:center;" ><iframe  src="https://www.eventbrite.com/calendar-widget?eid=32090594833" frameborder="0" height="614" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:195px; text-align:center;" ></div></div>
          </div>
        </div>
      </div>
    </div>-->

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <% data.all_events.each do |event| %>
          <div class="col-sm-12 feature-box-container">
            <div class="feature-box wow fadeInDown">

              <div class="icon"><i class="fa fa-<%= event.icon %>"></i></div>

              <div class="description">
                <h4 id="workshop-title"><%= t(event.title1) %></h4>
                <div class="description-content">
                  <br>
                  <p><%= t(event.description1) %></p>

                  <% if event.description2 %>
                  <p><%= t(event.description2) %></p>
                  <% end %>

                  <% if event.description3 %>
                  <p><%= t(event.description3) %></p>
                  <% end %>
                </div>

                <div class="description-details">

                  <div class="col-sm-4"><p><strong><%= t(event.date_drop) %></strong></div>
                  <div class="col-sm-8"><p><%= t(event.date_text) %></div>

                  <div class="col-sm-4"><p><strong><%= t(event.time_drop) %></strong></div>
                  <div class="col-sm-8"><p><%= t(event.time_text) %></div>

                  <div class="col-sm-4"><p><strong><%= t(event.location_drop) %></strong></div>
                  <div class="col-sm-8"><p><%= t(event.location_text) %></div>

                  <div class="col-sm-4"><p><strong><%= t(event.age_drop) %></strong></div>
                  <div class="col-sm-8"><p><%= t(event.age_text) %></div>

                  <div class="col-sm-4"><p><strong><%= t(event.language_drop) %></strong></div>
                  <div class="col-sm-8"><p><%= t(event.language_text) %></div>

                  <div class="col-sm-4"><p><strong><%= t(event.price_drop) %></strong></div>
                  <div class="col-sm-8"><p><%= t(event.price_text) %></div>
                  <% if event.equipment_text %>
                  <div class="col-sm-4"><p><strong><%= t(event.equipment_drop) %></strong></div>
                  <div class="col-sm-8"><p><%= t(event.equipment_text) %></div>
                  <% end %>
                  <div id="bb"><%= link_to t(event.button), t(event.file), target: "_blank", class: "bb btn btn-theme"  %></div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Team -->
<section id="team" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.team.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>

    <div class="row text-center">
      <% data.team_members.each do |member| %>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag member.image, alt: member.name, class: "img-responsive" %>
            <div class="team-member-img-filter"></div>
          </div>
          <div class="team-member-meta">
            <h4><%= member.name %></h4>
            <span class="team-member-profession"></span>
            <p><%= t(member.description) %></p>
            <div class="social">
              <% member.socials.each do |social| %>
              <% link_to social.url, class: "btn btn-theme", target: "_blank" do %>
              <i class="fa fa-<%= social.icon %>"></i>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
      <p>  </p>
    </div>

    <div class="row text-center">
      <% data.team_members_b.each do |member| %>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag member.image, alt: member.name, class: "img-responsive" %>
            <div class="team-member-img-filter"></div>
          </div>
          <div class="team-member-meta">
            <h4><%= member.name %></h4>
            <span class="team-member-profession"></span>
            <p><%= t(member.description) %></p>
            <div class="social">
              <% member.socials.each do |social| %>
              <% link_to social.url, class: "btn btn-theme", target: "_blank" do %>
              <i class="fa fa-<%= social.icon %>"></i>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
      <p>  </p>
    </div>

    <div class="row text-center">
      <% data.team_members_c.each do |member| %>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag member.image, alt: member.name, class: "img-responsive" %>
            <div class="team-member-img-filter"></div>
          </div>
          <div class="team-member-meta">
            <h4><%= member.name %></h4>
            <span class="team-member-profession"></span>
            <p><%= t(member.description) %></p>
            <div class="social">
              <% member.socials.each do |social| %>
              <% link_to social.url, class: "btn btn-theme", target: "_blank" do %>
              <i class="fa fa-<%= social.icon %>"></i>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
      <p>  </p>
    </div>

    <div class="row text-center">
      <% data.team_members_d.each do |member| %>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag member.image, alt: member.name, class: "img-responsive" %>
            <div class="team-member-img-filter"></div>
          </div>
          <div class="team-member-meta">
            <h4><%= member.name %></h4>
            <span class="team-member-profession"></span>
            <p><%= t(member.description) %></p>
            <div class="social">
              <% member.socials.each do |social| %>
              <% link_to social.url, class: "btn btn-theme", target: "_blank" do %>
              <i class="fa fa-<%= social.icon %>"></i>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row">
      <p>  </p>
    </div>

    <div class="row text-center">
      <% data.team_members_e.each do |member| %>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag member.image, alt: member.name, class: "img-responsive" %>
            <div class="team-member-img-filter"></div>
          </div>
          <div class="team-member-meta">
            <h4><%= member.name %></h4>
            <span class="team-member-profession"></span>
            <p><%= t(member.description) %></p>
            <div class="social">
              <% member.socials.each do |social| %>
              <% link_to social.url, class: "btn btn-theme", target: "_blank" do %>
              <i class="fa fa-<%= social.icon %>"></i>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>



<!-- Contact -->
<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.contact.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          <strong><%= t('.contact.intro.drop') %></strong> <%= t('.contact.intro.text') %>
        </p>
        <ul class="list-contacts">
          <li><i class="fa fa-map-marker"></i> <a href="https://www.google.be/maps/place/Co.Station/@50.8473558,4.3589762,15z/data=!4m2!3m1!1s0x0:0xa083255f82851545?sa=X&ved=0CHUQ_BIwC2oVChMIxp_Wp6DmyAIVig8aCh34eQ8K"><%= data.settings.contact.street %><br> <%= data.settings.contact.city %></a></li>
          <li><i class="fa fa-envelope-o"></i> <a href="mailto:<%= data.settings.contact.email %>"><%= data.settings.contact.email %></a></li>
          <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/TechiesLab"><%= data.settings.social.twitter %></a></li>
          <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/TechiesLabBrussels"><%= data.settings.social.facebook %></a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <form class="form-horizontal" action="//formspree.io/anne@techieslab.org" method="post" role="form" id="contactForm">
          <div class="form-group">
            <div class="col-sm-6">
              <input type="text" name="name" class="form-control" placeholder="<%= t('.contact.form.name') %>">
            </div>
            <div class="col-sm-6">
              <input type="text" name="contactEmail" class="form-control" placeholder="<%= t('.contact.form.email') %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea name="message" class="form-control" rows="8" placeholder="<%= t('.contact.form.message') %>"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
                <span class="ladda-label"><%= t('.contact.form.submit') %></span>
              </button>
            </div>
          </div>
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </div>
    </div>
    <div class="row text-center copyright">
      <div class="col-sm-12">© Techies Lab ASBL 2018 - Designed and built in Belgium with <i class="fa fa-heart-o"></i></div>
    </div>
  </div>
</section>
